
* {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c2a3d1;
}

img {
    width: 200px;
}

ul {
    list-style: none;
}

h1 {
    color: darkred;
}

p {
    margin-bottom: 20px;
}

.recipe-card {
    width: 400px; /* 2 + 50 + 400 + 50 + 2 */
    text-align: center;
    background-color: #FFFAFA;
    margin: 20px auto;
    padding: 50px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5); 
}

.recipe-content {
    text-align: left;
    padding: 20px;
}

.recipe-card h2,
.recipe-card a {
    text-transform: uppercase;
}

.recipe-card.feature {
    border: 2px solid darkred;
}

ul li h2 {
    font-size: 16px;
}

.recipe-card a {
    background-color: #fc9400;
    color: #fff;
    text-decoration: none;
    margin: 20px;
    padding: 10px 12px;
}